.clouds {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    pointer-events: none;
    display: flex;
    justify-content: space-around;
}

.cloud {
    position: absolute;
    width: 150px;
    height: 60px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    animation: moveClouds 200s linear infinite; /* Increased to 120s for slower movement */
}

.cloud::before,
.cloud::after {
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
}

.cloud::before {
    width: 60px;
    height: 60px;
    top: -20px;
    left: 10px;
}

.cloud::after {
    width: 90px;
    height: 80px;
    top: -30px;
    right: 10px;
}
.clouds.hidden {
    display: none; /* or opacity: 0; visibility: hidden; */
}

.clouds.visible {
    display: flex; /* Ensures visibility when clouds are needed */
}
/* Define the cloud movement animation */
@keyframes moveClouds {
    0% {
        transform: translateX(-98vw); /* Start from outside the left side */    }
    100% {
        transform: translateX(100vw); /* End off-screen to the right */
    }
}
