.weather{
    place-self: center;
    padding: 60px;
    border-radius: 40px;
    background: linear-gradient(135deg, #3a1c71, #d76d77, #b67f5b);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1500px;
    height: 800px;
    max-width: 90%;
}
.search-bar{
    display: flex;
    align-items: center;
    gap: 12px;
}
.search-bar input{
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color:#626262;
    background: #ebfffc;
    font-size: 18px;
}
.search-bar img{
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    background: #ebfffc;
    cursor: pointer;
}
.weather-icon{
    width: 150px;
    margin: 30px 0;
}
.temperature{
    color: #fff;
    font-size: 80px;
    line-height: 1;
}
.location{
    color: #fff;
    font-size: 40px;
}
.weather-data{
    width: 100%;
    margin-top: 40px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.weather-data .col{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 22px;
}

.weather-data .col span{
    display: block;
    font-size: 16px;
}
.weather-data .col img{
    width: 26px;
    margin-top: 21;
}

.suggestions-dropdown {
    position: absolute;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
    width: calc(100% - 12px);
    top: calc(100% + 10px);
}


.suggestions-dropdown li {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    cursor: pointer;
    white-space: nowrap;         /* Prevents text from wrapping */
    overflow: hidden;            /* Ensures text overflow is handled */
    text-overflow: ellipsis;     /* Adds ellipsis for long text */
    max-width: 100%;             /* Limits the maximum width */
}


.suggestions-dropdown li .country-flag {
    margin-left: auto;
    object-fit: scale-down;
    display: inline-block;
    resize: both;
}







/* Weather.css */

@keyframes rain {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes snow {
    0% { transform: translateY(-100%); }
    100% { transform: translateY(100%); }
}

@keyframes clear {
    0% { opacity: 0.8; }
    100% { opacity: 1; }
}

.animate-rain {
    animation: rain 1s ease-in-out forwards;
}

.animate-snow {
    animation: snow 2s ease-in-out forwards;
}

.animate-clear {
    animation: clear 1s ease-in-out forwards;
}